<%- include("partials/header") -%>

<div class="container">
<h1>Home</h1>
<p><%= homecontent %></p>

 <%# for(var i=0;i<blogcon.length; i++){ %>
  <%# console.log(blogcon[i].Titel) %>
<%# } %>

<% blogs.forEach(function(blog){ %>
  <h2><%= blog.Titel %></h2>
  <p><%= blog.Body.substring(0, 100) + "..." %><a href="/posts/<%= blog.Titel %>">Read more</a></p>


<% })%>

</div>

<%- include("partials/footer") -%>
